<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>

<h1><%= @daily_budget %></h1>
<%= Date.today.to_formatted_s(:short) %>
<br><br>


<% @transactions.each do |transaction| %>

<div class='transactions panel panel-primary' data-toggle="modal" data-target="#editTransaction" data-id="<%= transaction.id %>" data-name="<%= transaction.name %>" data-amount="<%= transaction.amount %>" data-catergory="<%= transaction.catergory.name %>" data-kind="<%= transaction.kind %>" data-account="<%= transaction.account.id %>">
  <div class="panel-heading"></div>
	<%= transaction.name %><br>
	<%= transaction.catergory.name %><br>
	<%= transaction.amount %> 
  <%= transaction.kind %> 
  <%= transaction.account.name %>
	<br><br>
</div>
<% end %>

<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#expenses">
  -
</button>

<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#income">
  +
</button>

<div class="modal fade" id="expenses" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= form_for @transaction do |f| %>
        <%= f.hidden_field :kind, :value => "expenses"%>
	        <%= f.text_field :name %>
	        <%= f.text_field :amount %>
          <%= f.label "Account" %><br />
          <%= f.collection_select(:account_id, @accounts, :id, :name) %>
	        <%= f.submit "Done" %>
      	<%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="income" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= form_for @transaction do |f| %>
          <%= f.hidden_field :kind, :value => "income"%>
          <%= f.text_field :name %>
          <%= f.text_field :amount %>
          <%= f.label "Account" %><br />
          <%= f.collection_select(:account_id, @accounts, :id, :name) %>
          <%= f.submit "Done" %>
        <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editTransaction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= form_for @transaction, method: 'patch' do |f| %>
          <%= f.hidden_field :id %>
          <%= f.hidden_field :kind %>
          <%= f.text_field :name %>
          <%= f.label "Account" %><br />
          <%= f.collection_select(:account_id, @accounts, :id, :name) %>
          <%= f.text_field :amount %>
          <%= f.submit "Done" %>
        <%end%>
        <div class="destroy">
          <%= link_to 'Destroy', @transaction, method: :delete%>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>


    console.log($('#editTransaction'));
    $('.transactions').on('click', function (event) {
      console.log(event.target)
    var button = $(event.target) // Button that triggered the modal
    var id = button.data('id') // Extract info from data-* attributes
    var name = button.data('name')
    var amount = button.data('amount')
    var kind = button.data('kind')
    var catergory = button.data('catergory')
    var account = button.data('account')
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $('#editTransaction')
    modal.find('.new_transaction').attr('id','edit_transaction_'+id)
    modal.find('.new_transaction').attr('action','/transactions/'+id)
    modal.find('#transaction_id').val(id)
    modal.find('#transaction_name').val(name)
    modal.find('#transaction_amount').val(amount)
    modal.find('#transaction_kind').val(kind)
    modal.find('#transaction_account_id').val(account)
    modal.find('.destroy a').attr('href','/transactions/'+id)
  })

  
  
  
 
</script>


