<header>
  <% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
</header>
<% @accounts.each do |account| %>
    <input type="hidden" id="<%=account.id%>" value="<%=account.balance%>">
<%end%>
<main class="container">

 <div class="row" id="dashboard_head">
    <h4><%= Date.today.to_formatted_s(:short) %></h4>
    <div class="row" id="dashboard_head_body">
      <button class="no_style_button" data-toggle="modal" data-target="#income">
      +
      </button>
      <div id="daily_budget">
        <h1>$<%= @daily_budget %></h1>
        <p>Budget Available</p>
      </div>
       
       <button class="no_style_button" data-toggle="modal" data-target="#expenses">
        -
      </button>
    </div>
 </div>


<div class="row" id="transactions">  
  <div class="col-xs-12">
    <% @transactions.each do |transaction| %>
    <% if transaction.kind == 'income' 
          @style = 'success'
        elsif transaction.kind == 'expenses'
          @style = 'danger'
        end
    %>
    <div class='transactions panel panel-<%=@style%>' data-toggle="modal" data-target="#editTransaction" data-id="<%= transaction.id %>" data-name="<%= transaction.name %>" data-amount="<%= transaction.amount %>" data-catergory="<%= transaction.catergory.name %>" data-kind="<%= transaction.kind %>" data-account="<%= transaction.account.id %>">
    <div class="panel-heading"></div>
    <div class="panel-body">
       <div class="col-xs-8">
       <div class="transaction_name">
        <div class="icon">
          <i class="fa fa-<%= transaction.catergory.icon %> fa-2x"></i>
        </div>
        <div class="space"></div>
        <div class="name_catergory">
          <h4><%= transaction.name %></h4>
          <%= transaction.catergory.name %>
        </div>
       </div>
      </div>
      <div class="col-xs-4" style="text-align:center">
        <h4>$<%= transaction.amount %></h4>
        <p><%= transaction.account.name %></p> 
      </div>
    </div>
  </div>
  <% end %>
  </div>
  
</div>

<div class="modal fade" id="expenses" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new Expenses</h4>
      </div>
      <div class="modal-body">
        <%= form_for @transaction do |f| %>
        <%= f.hidden_field :kind, :value => "expenses"%>
	        
          <div class="form-group">
            <div class="row">
              <div class="col-xs-6">
                <%= f.collection_select(:account_id, @accounts, :id, :name, {}, {:class => 'form-control special'}) %>
              </div>
              <div class="col-xs-6">
                 <h3 id="bank_amount" style="line-height: 0">$0</h3>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <div class="row">
               <div class="col-xs-6">
                 <%= f.collection_select(:catergory_id, @catergories, :id, :name, {}, {:class => 'form-control'}) %>
              </div>
              <div class="col-xs-6">
                <%= f.number_field :amount, class: 'form-control', placeholder: 'enter amount' %>
              </div>
            </div>
          </div>
         
	        <div class="form-group">
            <%= f.text_field :name, class: 'form-control', placeholder: 'add a note' %>
          </div>
          
      </div>
      <div class="modal-footer">
        <%= f.submit "Add Expenses", class: 'btn btn-danger full_button' %>
        <%end%>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="income" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a Income</h4>
      </div>
      <div class="modal-body">
          <%= form_for @transaction do |f| %>
        <%= f.hidden_field :kind, :value => "income"%>
          
          <div class="form-group">
            <div class="row">
              <div class="col-xs-6">
                <%= f.collection_select(:account_id, @accounts, :id, :name, {}, {:class => 'form-control special'}) %>
              </div>
              <div class="col-xs-6">
                 <h3 id="bank_amount1" style="line-height: 0">$0</h3>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <div class="row">
               <div class="col-xs-6">
                 <%= f.collection_select(:catergory_id, @catergories, :id, :name, {}, {:class => 'form-control'}) %>
              </div>
              <div class="col-xs-6">
                <%= f.number_field :amount, class: 'form-control', placeholder: 'enter amount' %>
              </div>
            </div>
          </div>
         
          <div class="form-group">
            <%= f.text_field :name, class: 'form-control', placeholder: 'add a note' %>
          </div>
          
      </div>
      <div class="modal-footer">
        <%= f.submit "Add Income", class: 'btn btn-success full_button' %>
        <%end%>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editTransaction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= form_for @transaction, method: 'patch' do |f| %>
          <%= f.hidden_field :id %>
          <%= f.hidden_field :kind %>
          <%= f.text_field :name %>
          <%= f.label "Account" %><br />
          <%= f.collection_select(:account_id, @accounts, :id, :name) %>
          <%= f.number_field :amount %>
          <%= f.submit "Done" %>
        <%end%>
        <div class="destroy">
          <%= link_to 'Destroy', @transaction, method: :delete%>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>

  $('.special').on('change', function(event)
  {
    var bank = $('#bank_amount')
    var bank1 = $('#bank_amount1')
    var id = event.target.value
    var amount = '$'+$('#'+id).val()
    console.log(event.target.id)
    bank1.text(amount)
    bank.text(amount) 
    
  })

  $('.no_style_button').on('click', function(event)
  {
    console.log($(event.target))
    var bank = $('#bank_amount')
    var bank1 = $('#bank_amount1')
    var id = $('#transaction_account_id').val()
    var amount = '$'+$('#'+id).val()
    bank1.text(amount)
    bank.text(amount)
  })

    $('.transactions').on('click', function (event) {
      console.log(event.target)
    var button = $(event.target) // Button that triggered the modal
    var id = button.data('id') // Extract info from data-* attributes
    var name = button.data('name')
    var amount = button.data('amount')
    var kind = button.data('kind')
    var catergory = button.data('catergory')
    var account = button.data('account')
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $('#editTransaction')
    modal.find('.new_transaction').attr('id','edit_transaction_'+id)
    modal.find('.new_transaction').attr('action','/transactions/'+id)
    modal.find('#transaction_id').val(id)
    modal.find('#transaction_name').val(name)
    modal.find('#transaction_amount').val(amount)
    modal.find('#transaction_kind').val(kind)
    modal.find('#transaction_account_id').val(account)
    modal.find('.destroy a').attr('href','/transactions/'+id)
  })

</script>

</main>
<footer>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container" id="menu">
      <div class="menu_icon">
        <a href='<%= accounts_path %>'><i class="fa fa-money fa-2x"></i></a>
        <p>Accounts</p>
      </div>
      <div class="menu_icon">
         <a href='<%= compare_path %>'><i class="fa fa-balance-scale fa-2x"></i></a>
         <p>Compare</p>
      </div>
      <div class="menu_icon">
         <a href='<%= dashboard_path %>'><i class="fa fa-tachometer fa-2x"></i></a>
         <p>Dashboard</p>
      </div>
      <div class="menu_icon">
        <a href='<%= recurring_path %>'><i class="fa fa-repeat fa-2x"></i></a>
        <p>Recurring</p>
      </div>
      <div class="menu_icon">
        <a href='<%= summary_path %>'><i class="fa fa-bar-chart fa-2x"></i></a>
        <p>Summary</p>
      </div>
    </div>
  </nav>
</footer>
