<header>
	 <% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
	
</header>
<main>
<h1>Summary#index</h1>
<p>Find me in app/views/summary/index.html.erb</p>

<% @summary.each do |s| %>
<%= s[:catergory] %>
<%= s[:total] %>
<br><br>
</main>
<% end %>
<footer>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container" id="menu">
      <div class="menu_icon">
        <a href='<%= accounts_path %>'><i class="fa fa-money fa-2x"></i></a>
        <p>Accounts</p>
      </div>
      <div class="menu_icon">
         <a href='<%= compare_path %>'><i class="fa fa-balance-scale fa-2x"></i></a>
         <p>Compare</p>
      </div>
      <div class="menu_icon">
         <a href='<%= dashboard_path %>'><i class="fa fa-tachometer fa-2x"></i></a>
         <p>Dashboard</p>
      </div>
      <div class="menu_icon">
        <a href='<%= recurring_path %>'><i class="fa fa-repeat fa-2x"></i></a>
        <p>Recurring</p>
      </div>
      <div class="menu_icon">
        <a href='<%= summary_path %>'><i class="fa fa-bar-chart fa-2x"></i></a>
        <p>Summary</p>
      </div>
    </div>
  </nav>
</footer>