<h1>Accounts#index</h1>
<p>Find me in app/views/accounts/index.html.erb</p>
<h2>Bank</h2>
<% @bank.each do |bank| %>
<div class="panel panel-primary" data-toggle="modal" data-target="#showTransactions<%= bank.id %>">
<%= bank.name %>
<%= bank.balance %>
</div>

<div class="modal fade" id="showTransactions<%= bank.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <% @bank_transactions.each do |transaction| %>
          <% if transaction.id == bank.id %>
          <%= transaction.name %>
          <%= transaction.amount %>
          <%= transaction.kind %>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<% end %>


<h2>Cash</h2>
<% @cash.each do |cash| %>
<div class="panel panel-primary" data-toggle="modal" data-target="#showTransactions<%= cash.id %>">
<%= cash.name %>
<%= cash.balance %>
</div>

<div class="modal fade" id="showTransactions<%= cash.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <% @bank_transactions.each do |transaction| %>
          <% if transaction.id == cash.id %>
          <%= transaction.name %>
          <%= transaction.amount %>
          <%= transaction.kind %>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<% end %>


<h2>Credit Cards</h2>
<% @credit.each do |credit| %>
<div class="panel panel-primary" data-toggle="modal" data-target="#showTransactions<%= credit.id %>">
<%= credit.name %>
<%= credit.balance %>
<%= credit.limit %>
</div>

<div class="modal fade" id="showTransactions<%= credit.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <% @bank_transactions.each do |transaction| %>
          <% if transaction.id == credit.id %>
          <%= transaction.name %>
          <%= transaction.amount %>
          <%= transaction.kind %>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<% end %>

<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createAccount">
Add a Account
</button>

<div class="modal fade" id="createAccount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= form_for @account do |f| %>
			<%= f.select :type_of_account, [['Bank','bank'],['Cash','cash'],['Credit Card','credit']] %>
	        <%= f.text_field :name, :placeholder => "name" %>
	        <%= f.text_field :balance, :placeholder => "balance" %>
          <%= f.hidden_field :limit, :placeholder => "limit" %>
	        <%= f.submit "Done" %>
      	<%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>

  $('#account_type_of_account').on('change',function(event)
  {
    if(event.target.value == 'credit')
    {
      $('#account_limit').attr('type','text');
    }
    else
    {
      $('#account_limit').attr('type','hidden');
    }
  })
</script>


